:root {
  // brand colors
  --c-brand: #221328;
  --c-brand-light: #2D1935;
  --c-text-lightest: #9152aa;
}

:root.dark {
  --c-brand: #AB78BF;
  --c-brand-light: #C39FD1;
}

/**
 * prism.js theme based on ayu and flatwhite
 * @author Benoit Giannangeli
 */

html {
  --base1-color: #4F565D;
  --base2-color: #636B73;
  --base3-color: #75808E;
  --base4-color: #AAB3BC;
  --base5-color: #D1D4D7;
  --base6-color: #E3E7EB;
  --base7-color: #FAFAFA;
  --accent-color: #946EC0;
  --orange-text-color: #E88437;
  --orange-text-sec-color: #F29A2A;
  --orange-bg-color: #F7E8D0;
  --green-text-color: #739B00;
  --green-text-sec-color: #89B317;
  --green-bg-color: #E3F0CC;
  --teal-text-color: #429FBE;
  --teal-text-sec-color: #59AFCC;
  --teal-bg-color: #D8EBF2;
  --blue-text-color: #2F8FD1;
  --blue-text-sec-color: #4AA6C8;
  --blue-bg-color: #D6E7F7;
  --purple-text-color: #8E66B8;
  --purple-text-sec-color: #A080C8;
  --purple-bg-color: #E6DCF1;
  --diff-add-color: #739B00;
  --diff-change-color: #F29A2A;
  --diff-change-dark-color: #A86F18;
  --diff-delete-color: #E26363;
  --diff-renamed-color: #2F8FD1;
  --white-color: #FFFFFF;
  --comment-bg-color: #F1CDCD;
  --comment-fg-color: #E26363;
  --inlay-fg-color: #DF8E1E;
  --inlay-bg-color: #F7E8D0;
  --foreground-color: #4F565D;
  --black-color: #DDE2E8;
  --blue-color: #2F8FD1;
  --orange-color: #E88437;
  --magenta-color: #8E66B8;
  --gray-color: #75808E;
  --dark-gray-color: #CDD1D5;
  --background-color: #FAFAFA;
  --dark-background-color: #EDF0F3;
  --cyan-color: #3F7FBD;
  --green-color: #739B00;
  --red-color: #E26363;
  --yellow-color: #F29A2A;
  --background-color: #fafafa;
  --color: #545a62;
}


html.dark {
  --base1-color: #C4C0B9;
  --base2-color: #AAA8A1;
  --base3-color: #7F8A96;
  --base4-color: #5C6773;
  --base5-color: #2D3640;
  --base6-color: #1B222B;
  --base7-color: #0F1419;
  --accent-color: #D2A6FF;
  --orange-text-color: #FFAD66;
  --orange-text-sec-color: #E6B450;
  --orange-bg-color: #302A20;
  --green-text-color: #AAD94C;
  --green-text-sec-color: #C2E675;
  --green-bg-color: #23301F;
  --teal-text-color: #73B8FF;
  --teal-text-sec-color: #8AC7FF;
  --teal-bg-color: #1F2D3A;
  --blue-text-color: #59C2FF;
  --blue-text-sec-color: #86D2FF;
  --blue-bg-color: #1C2B38;
  --purple-text-color: #D2A6FF;
  --purple-text-sec-color: #E1C4FF;
  --purple-bg-color: #2D2438;
  --diff-add-color: #AAD94C;
  --diff-change-color: #E6B450;
  --diff-change-dark-color: #5A4728;
  --diff-delete-color: #F07178;
  --diff-renamed-color: #59C2FF;
  --white-color: #FFFFFF;
  --comment-bg-color: #3A2228;
  --comment-fg-color: #F07178;
  --inlay-fg-color: #C9A15A;
  --inlay-bg-color: #2A241A;
  --foreground-color: #cdcac4;
  --black-color: #131721;
  --blue-color: #59c2ff;
  --orange-color: #ff8f40;
  --magenta-color: #d2a6ff;
  --gray-color: #5c6773;
  --dark-gray-color: #2d3640;
  --background-color: #0f1419;
  --dark-background-color: #080A0D;
  --cyan-color: #73b8ff;
  --green-color: #aad94c;
  --red-color: #f07178;
  --yellow-color: #e6b450;
  --background-color: #0F1419;
  --color: #BBB7B1;
}

div[class*=language-] {
  background-color: var(--background-color);
}

.theme-default-content pre code,
.theme-default-content pre[class*=language-] code {
  color: var(--color);
}

code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #CDD1D6;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #CDD1D6;
}

@media print {

  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  background: #FAFAFA;
}

/* Inline code */
:not(pre)>code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment-fg-color);
  background-color: var(--comment-bg-color);
}

.token.punctuation {
  color: var(--base3-color);
}

.token.namespace {
  color: var(--teal-text-color);
  background-color: var(--teal-bg-color);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--blue-text-color);
  background-color: var(--blue-bg-color);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--green-text-color);
  background-color: var(--green-bg-color)
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--base1-color);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--purple-text-color);
  background-color: var(--purple-bg-color)
}

.token.function,
.token.class-name {
  color: var(--orange-text-color);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--orange-text-color);
  background-color: var(--orange-bg-color)
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}